<h1>Hello From the Seller</h1>


<!-- Prototype to have visualization of the database -->
 <ul id="products">
<div class="products-cards">
<% @user.products.each do |p| %>

<div class="product-card" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.8) 0%, rgba(50,50,50,0.0) 50%)">


     <div class="product-card-body" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url(<%= asset_path 'https://butterflywonderland.com/wp-content/uploads/2016/04/honey1.jpg'%>);" >

</div>
<div class="product-card-footer">
<li class="space-between"><p><%= p.name %>  </p>
  <%= link_to "See more", user_product_path(p.user_id, p.id) %>
</li>
</div>
</div>
<% end %>
</ul>
</div>

<% if current_user && current_user.id == @user.id  %>
  <h2><%= link_to "Add a new product", new_user_product_path(@user.id)  %></h2>
  <% end %>