<div class="demo">
  <div class="avatar">

  </div>
  <div class="upper_div">

  </div>
  <div class="below_div">
    <div class="text">
      <h2>QUINTA DO MEL</h2>
      <h5> OLHOS D´AGUA</h5>
    </div>
  </div>
</div>




  <div class="card">
    <img src="http://placehold.it/50x50" alt="" class="avatar card-user">
    <span class="card-category">POPULAR</span>
    <div class="card-description">
      <h3>Stripe</h3>
      <p>A cool payment API</p>
    </div>
  </div>
</div>
