



<a href="<%=user_path(user.id)%>">
  <div class="map-farm-card" style="background-image: url(<%= asset_path 'Card_banner.png' %>);">

    <div class="map-card-content">
          <h2 class="yellow text-center"><%= user.nickname.upcase %></h2>
      <p class="card-address text-center yellow"><%= user.address.upcase%></p>
    </div>
<!--     </div>
  <div class="yellow-card-line"></div>
  <div class="farm-avatar-shape">
    <div class="farm-avatar">
      <img src=" asset_path('Image_avatar.png')%>" class="card-avatar" alt="">
    </div>
  </div>
  <div class="card-footer">
    <h3 class="yellow text-center"> #user.name.upcase %></h3>
    #<p class="card-address text-center">user.address.upcase</p> -->
  </div>




<!-- <div class="farm-card">
  <div class="avatar">
  </div>
  <div class="farm-card-body">
    <img src="http://placehold.it/50x50" class="image">
  </div>
  <div class="farm-card-footer">
    <div class="card-description">
      <h2>QUINTA DO MEL</h2>
      <h5> OLHOS D´AGUA</h5>
    </div>
  </div>
</div>
 -->
