<div class="farm-card">
  <div class="farm-card-top">
    <img src="<%= asset_path('Card_banner.png')%>" class="farm-card-image-top" alt="">
  </div>
  <div class="farm-avatar">
    <img src="<%= asset_path('Image_avatar.png')%>" class="card-avatar" alt="">

  </div>
  <div class="card-footer">
    <h3 class="yellow text-center">Master shifu</h3>
    <p class="text-center">Best honey bro</p>
  </div>
</div>




<!-- <div class="farm-card">
  <div class="avatar">
  </div>
  <div class="farm-card-body">
    <img src="http://placehold.it/50x50" class="image">
  </div>
  <div class="farm-card-footer">
    <div class="card-description">
      <h2>QUINTA DO MEL</h2>
      <h5> OLHOS D´AGUA</h5>
    </div>
  </div>
</div>
 -->
