hr {
  height: 1px;
  border-color: #FFFA77;
  width: 75%;
}

.farm-description-text {
  width: 100%;
  padding: 0 20%;
  font-size: 120%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.wrap {
  position: relative;
  bottom: 350px;
}


a.add-product {
  color: #FFFA77;
}