body {
	background-color: rgb(30,30,30);
	color: white;
}


div.pattern {
	position:relative;
	margin-top:-100px;
  width:100%;
  background-size: 6% 6%;
  background-image: url(asset_path("pattern.png"));
  margin-top:-100px;
  height: 700px;
  opacity: 0.1;
  z-index: 1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
  bottom: 250px;
}


.yellow {
	color: #FFFA77;
}

h1 {
	letter-spacing: 3px;
	font-size: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

h2 {
	letter-spacing: 3px;
	font-size: 15px;
}

.home-icons h2 {
  padding: 5px 0px 15px 0;
}

h3{
	letter-spacing: 3px;
	font-size: 11px;
  padding: 0px 11px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light" !important;
}

.text-center {
	text-align: center;

}

//to change
.confirm {
	margin-top: 500px;
}
