.home-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top:-520px;
}

.grid, .sticks, .star {
  width: 20%;
}

.home-icons img{
  width:90px;
}
.some-farms h1{
  padding:40px;
}


.see-more {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: center;
}