.farms {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom:0px;
  margin-left: -30px;
}

h1.our-farms {

 margin-top: 400px;
}

.farm-link {
  text-decoration: none !important;
  &:hover {
  color:#F5D76E !important;
  }
}

.map-container {
  display: flex;
  justify-content: center;
}

.map-position {  //MAP STYLE
  width: 90%;
  z-index: 55;
  position: fixed !important;
  top: 55px;
}

.map-farm-card {
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.map-card-content {
  background-color: rgba(30,30,30,0.6);
  margin: 0 15px;
}