/* Main navbar */
$blur: 10px;

.navbar-wagon {
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(16,16,16,0.5);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 50;
  -webkit-backdrop-filter: blur(10px);
}



/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  opacity: 1;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 40px;
  width: 40px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #FFFA77;
  font-size: 14px;


}
.navbar-wagon-link:hover {
  color: #F5D76E;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 7px;
  background-color: rgba(16,16,16,0.4);
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #FFFA77 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #F5D76E !important;
}

.dropdown-menu {
  min-width:0px;
  margin-right: -30px;
  border-radius: 0px 0px 5px 5px;
}

.login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  letter-spacing: 2px;
}

