.product-photo {
  height: 750px;
  width: 750px;
  background-size: cover;
  background-position: center;
  margin-right: 15%;
  border-radius: 5px;
  box-shadow: 0px 0px 35px #2d4c55;

}

.product-show {
  display: flex;
  justify-content: center;
  space-around: space-around;
  margin-bottom: 50px;
}