.sales-index {
  margin-top: 100px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content:center;
  justify-content: center;
}


.sales-container {
  width: 50%;
  justify-content: center;
  -webkit-justify-content:center;

}

hr.small {
  width: 100px;
}


.sale-info {
  opacity: 0.8;
}
strong {
  color: #FFFA77;
  font-weight: 300;
}


.control-label {
  font-weight: 300;
}



h3.product {
  border-left: 1px solid #FFFA77;
}

.sale-info {
  padding-left: 10px;
}


div.orders {
  margin-bottom: 100px
}

#sale_status {
  width: 60%;
}

.content-about {
  margin-right: 0;
  margin-left: 0;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.confirm-buy {
  width: 80%
}