

.farm-card {
  position:relative;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 25px;
  width:230px;
  height: 300px;
  background-color: #171717;
  border-radius:5px;
  z-index: 1
}

.farm-card-top {
  background-size: contain;
  width:100%;
  height: 60%;
  overflow:hidden;
  border-radius: 5px 5px 0px 0px;
}

.farm-card-image-top {
    margin-top:-10px;
    margin-left:-30%;
    width:520px; /* you can use % */
    height: auto;
}

.farm-card-footer {
  margin: 0;
  padding-top: 15px;
}

.farm-avatar {
  width:120px;

}
.farm-avatar-shape {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 25%;
  margin-left: 67px;
  background:#444444;
  overflow:hidden;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.yellow-card-line {
  height:180px;
  margin-top:-180px;
  margin-left:50%;
  border-left: 1px solid #FFFA77;
  position:relative;
}

.card-avatar {
  width: 110px;
  margin:-21.875% -2.875%;
  overflow:hidden
}

.card-footer {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

//cards addresses
.card-address {
  letter-spacing: 3px;
  font-size: 8px;
  padding: 0 22px;
  color:#FFFFFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";

}
