.sales-index {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}


.sales-container {
  width: 50%;
  justify-content: center
}

hr.small {
  width: 100px;
}


.sale-info {
  opacity: 0.8;
}
strong {
  color: #FFFA77;
  font-weight: 300;
}


.control-label {
  font-weight: 300;
}

.confirm-btn {
  margin-bottom: 50px;
  background-color: #FFFA77;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 15px #FFFA77;
    transition: 0.3s;

  }
}



h3.product {
  border-left: 1px solid #FFFA77;
}

.sale-info {
  padding-left: 10px;
}


div.orders {
  margin-bottom: 100px
}

#sale_status {
  width: 60%;
}